/vendor
.env
.env.*.php
/config
/tests
Homestead.yaml
Homestead.json
npm-debug.log
yarn-error.log
/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*.log
/.idea
/.vscode
/.fleet
/.nova
/.zed
.DS_Store
